@namespace Turbine.Dashboard.Components

@using Turbine.Dashboard.Model
@using Turbine.Dashboard.Otlp.Model
@using Turbine.Dashboard.Resources
@inject IStringLocalizer<Columns> Loc

<span title="@FormatName(Resource)"><FluentHighlighter HighlightedText="@FilterText" Text="@FormatName(Resource)"/></span>

@code {
    [Parameter, EditorRequired]
    public required ResourceViewModel Resource { get; set; }

    [Parameter, EditorRequired]
    public required Func<ResourceViewModel, string> FormatName { get; set; }

    [Parameter, EditorRequired]
    public required string FilterText { get; set; }
}
